page-login {
  .jsclick1{
    color:red;
  }
  .loginbg{
    width:100%;height:100vh;
    background-image: url(../../assets/imgs/login_bg@3x.png);
    background-size:100% 100%;
  }
  ion-header{
    height:100vh;

  }
  .divin{
    width:90%;margin:0px auto;

  }
  .item-button{
    background:transparent;
    color:#F54C00;
  }
  .sendBtn{background:transparent;
    color:#F54C00;font-size:14px;}
  .title{
    font-size:24px;margin-top:100px;color:#3D4552;font-weight:bold;
    margin-bottom:36px;@include pfm();
  }
  .close{position:absolute;top:40px;right:5%;
    img{width:22px;height:22px;}
  }
  .item-ios{padding:0px;}
  .list-ios > .item-block:first-child{border-top:0px;}
  .list-ios{margin-bottom:25px;}
  .lab1{width: 50px;
    min-width: 50px;
    max-width: 50px;}
  .item-inner{border-bottom:1px solid #EEEEEE !important;}
  .label-ios{margin:0px;color:#3D4552;}
  .input1{margin-left:-10px;}
  .agree{
    position:absolute;bottom:50px;text-align:center;width:100%;font-size:14px;color:#9697A5;
    .red{color:#F54C00;}
  }
  .mybtn{
    height:35px;width:100%;
    font-size:14px;border-radius:20px;
    float:right;margin-top:8px;
    background-image: -webkit-linear-gradient(0deg, #FB8300, #F54C00);
  }
  .subbtn{margin-bottom:15px;overflow:hidden;}
  .des{clear:both;text-align:right;color:#9697A5;}
  .list-md .item-input:last-child{border-bottom:0px;}
  .list-md .item-input.item-input-has-focus:last-child{border:0px;border-color:transparent;box-shadow: none;}
  .list-md .item-input.item-input-has-focus .item-inner{box-shadow: none;}


  .shadow{
    position:absolute;top:0px;left:0px;right:0px;bottom:0px;width:100%;height:100vh;z-index:9999999;background-color:#c1c1c1;opacity:0.9;
  }
  .checkmsg{
    position:absolute;width:80%;top:30%;left:10%;background-color:#ffffff;height:220px;z-index:99999992;
    border-radius:10px;overflow:hidden;
    .msgtitle{
      font-size:18px;text-align:center;
      @include pfm();padding:5px 0px;
    }
    .msgcontent{
      padding:10px 20px;color:#424242;
      @include pfr();font-size:14px;
    }
    .msgbottom{
      padding:5px 20px 0px 20px;
    }
    .top{
      border-bottom:1px solid #e0dbdb;
    }
  }
}
