page-password1 {
  .item-block{margin-top:10px;}
  .divin{margin:10px auto;width:90%}
  .item-ios.item-block .item-inner{border-bottom:0px;}
  .mybtn{
    height:35px;width:100%;margin-top:20px;
    font-size:14px;border-radius:20px;
    float:right;margin-top:8px;
    background-image: -webkit-linear-gradient(0deg, #FB8300, #F54C00);
  }
}
