page-paydetail {
    .scroll-content{padding:0px !important;}
    .header-ios .toolbar-ios:last-child .toolbar-background-ios{border:0px;}
    .ion-page ion-header .toolbar-background{}
    .toolbar-background, .toolbar-background-ios{background:transparent !important;color:#ffffff;border:0px !important}
    .toolbar-title-ios{color:#ffffff !important;}
    .ion-page ion-header ion-navbar .toolbar-background{border:0px !important;}
    .toolbar, .toolbar-ios{padding-bottom:calc(env(safe-area-inset-bottom) + 0px) !important;}

    .speradio{
      margin-right:10px;
    }
    ion-app.ios [padding]{padding:0px;}
    ion-footer{
      .left{width:50%;float:left;}
      .right{width:50%;float:right;}
      .mybtn{
        background-image: -webkit-linear-gradient(0deg, #FB8300, #F54C00);
        border-radius:0px;width:100%;
      }
      .mybtn2{
        background-color:#ffffff;color:rgba(245, 76, 0, 1);
        border-radius:0px;width:100%;
      }
      .button-ios{padding:0px;margin:0px;}
    }



    .headbg{
      padding-top:4px;
      width:100%;height:190px;postion:relative;
      background-image: -webkit-linear-gradient(0deg, #FB8300, #F54C00);
      .logopos{
        width:100%;position:relative;height:20px;margin-top:30px;
        .logoposin{
          width:90%;margin:0px auto;height:20px;
        }
        .left{height:20px;width:50%;float:left;}
        .right{height:20px;width:50%;float:right;
          span{float:right;color:#ffffff;}
          img{float:right;}
        }
        img{height:100%;width:auto;}
      }
      .moneydes{text-align:center;color:#ffffff;font-size:12px;}
      .money{text-align:center;color:#ffffff;padding:0px 0px 5px 0px;font-size:30px;@include pfm();}
      .type{text-align:center;}
      .typebtn{font-size:12px;color:#ffffff;padding:2px 10px;border:1px solid #f7ae89;border-radius:2px;display:inline-block;}
    }


    .division{
      margin-top:10px;background-color:#ffffff;
      .divin{
        margin:0px auto;width:90%;
        text-align:center;
      }
    }
    .division.d3
    {
      .top{height:50px;color:#3D4552;font-size:15px;@include pfm();
        border-bottom:1px solid #EEEEEE;
        .divin{height:50px;line-height:50px;text-align:left;
          .left{width:50%;float:left;}
          .right{width:50%;float:right;text-align:right;@include pfr();font-size:12px;}
        }
      }
      .center{
        position:relative;padding:10px 0px;
        border-bottom:1px solid #EEEEEE;
        .item{overflow:hidden;}
        .centerleft{height:50px;width:50%;margin-top:15px;float:left;}
        .centerright{
          height:50px;width:50%;margin-top:15px;float:right;
        }
        .centerline{
          height:50px;position:absolute;left:50%;width:0px;top:15px;border-right:1px solid #EEEEEE;
        }
        .left{height:40px;width:40px;float:left;margin-right:10px;
          img{height:100%;width:auto;}
        }
        .right{height:40px;float:left;}
        .des{font-size:12px;color:#9697A5;text-align:left;}

      }
      .bottom{
        clear:both;
        height:50px;line-height:50px;text-align:center;color:#F54C00;font-size:14px;
      }
      .item{
        height:40px;line-height:40px;font-size:14px;
        .left{color:#9697A5;float:left;width:30%;margin-right:0px;}
        .right{float:right;width:69%;text-align:right;}
      }
    }
    .division.d4{
      .item{
        height:60px;font-size:14px;
        .itemcon{
          height:40px;line-height:40px;overflow:hidden;
        }
        .des{
          height:20px;
          line-height:20px;
          text-align:right;
          color:#9697A5;
          font-size:10px;
          overflow:hidden;
          .left{
            height:20px;
            width:60%;margin-right:0px;
            .leftin{
              float:left;width:20%;
            }
            .rightin{
              float:left;width:80%;text-align:left;
            }
          }
          .right{
            height:20px;
          }
        }
        .left{color:#9697A5;float:left;width:60%;margin-right:0px;
          overflow:hidden;
          .leftin{
            float:left;width:20%;
            .checkbox{margin-top:9px;}
          }
          .rightin{
            float:left;width:80%;text-align:left;
          }
        }
        .right{float:right;width:35%;text-align:right;}
      }
    }


    @media (device-width: 375px) and (device-height: 812px) and (-webkit-min-device-pixel-ratio : 3){
      //如果以后出现375*812,非ios机型，可以加上下面语句
      .headbg{height:240px !important;}


    }

    .toolbar-title-md{color:#ffffff !important;}

    ion-footer{

      .shadow{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.4);z-index:1;}
      .submit-btn{
        position:absolute;
        height:5.5rem;
        bottom:0;
        left:0;
        right:0;
        z-index:2;
        background:$bg-white;
      }
      .sub-btn-l {
        width:68%;
        margin-left:4%;
        float:left;
        white-space: nowrap;
        font-size:0;
        .submit-info{
          width:67%;
          display:inline-block;
          vertical-align: middle;
          // padding:1rem 0 0.8rem;
          .money {
            line-height:2.2rem;
            @include fz(16);
            color:$color-dark;
            .orange{
              color:$colorf70;
              @include pfm();
              margin-left:0.7rem;
            }
          }
          .discount{
            line-height:1.6rem;
            @include fz(11);
            color:$colorf70;
          }
        }
        .submit-detail{
          display:inline-block;
          vertical-align: middle;
          line-height:1.6rem;
          border-left:$btn-border;
          padding-left:1.9rem;
          @include fz(14);
          color:$color-dark;
          margin:1.95rem 0;
          .icon-arrow-black{
            margin-left:0.6rem;
          }
        }
      }
      .sub-btn-r {
        float:right;
        @include pub-button(28%,5.5rem,#FB8300,$color-white,17);
        &.disabled{
          background:$color9;
        }
      }

      .fee-details{
        // padding:0 0 2rem;
        padding-bottom: 5.5rem;
        background:$bg-gray;
        border-bottom:$li-border;
        max-height:80vh;
        min-height:50vh;
        overflow-y:auto;
        .title{
          padding:1.9rem 5.3%;
          @include fz(16);
          background-color: $bg-white;
          color:$color3;
          text-align:center;
          ul{
            overflow: hidden;
            li{
              float:left;
              width:calc((100% - 2px )/2);
            }
            li:first-child{
              border-right:1px solid $colore5;
            }
            li.active{
              color:$colorf700;
            }
          }

        }
        .coupon-list{padding-top:0;};
        .cou-red{
          @include icon-style(100%, 19.68vw, 'cou_pic01.png');
        }
        .cou-gray{
          @include icon-style(100%, 19.68vw, 'cou_pic04.png');
        }
        .cou-orange{
          @include icon-style(100%, 19.68vw, 'cou_pic02.png');
        }
        .cou-yellow{
          @include icon-style(100%, 19.68vw, 'cou_pic03.png');
          .cou-right{
            h2{
              span{
                background-color: #f7ae00!important;
              }
            }
          }
        }
        .cash-coupon{
          width: 92%;
          margin: 1.5rem auto 0;
          position: relative;
        }
        .cou-item{
          line-height:19.68vw;
          // line-height:70px;
          // height:70px;
          position:relative;
          .cou-left{
            color: #fff;
            width: 30%;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            h2{
              font-size:1.3rem;
              line-height:3rem;
              span{
                font-size:3rem;
              }
            }
            p{
              font-size: 1.1rem;
              line-height: 1.6rem;
            }
          }
          .cou-right{
            width: 58%;
            display:inline-block;
            padding-left: 1.5rem;
            padding-right:1.5rem;
            vertical-align: middle;
            h2{
              @include fz(14);
              color:$color-gray;
              line-height: 1.8rem;

              height:1.8rem;overflow:hidden;
              span{
                @include fz(10);
                color:$bg-white;
                display: inline-block;
                width:3.6rem;
                height:1.4rem;
                line-height: 1.6rem;
                text-align: center;
                background-color: #ff4a4a;
                border-radius: 0.3rem;
                margin-right: 0.6rem;
              }
            }
            p{
              @include fz(10);
              line-height:1.4rem;
              color:#999;
              i{margin-left: 0.5rem;}
            }
            p.cou-time{
              margin: 0.7rem 0;
            }
          }
          .icon-radio,.icon-radio.checked,.icon-radio-rented{
            position: absolute;
            top: calc((92vw * 148 /692 - 1.7rem)/2);
            right: 4.05%;
            margin:0;
          }
          &.cou-gray {
            .cou-right{
              h2{
                span{
                  background:$colorc;
                }
              }
            }
          }
        }
      }
      .coupon{
        position:absolute;
        z-index:99;
        width:100%;
        min-height:50vh;
        bottom:0;
        left:0;
        right:0;
        button {
          width: 100%;
          background: #FFAC00;
          line-height: 4.4rem;
          height: 4.4rem;
          text-align: center;
          color: #fff;
          font-size: 1.8rem;
          display: block;
          // margin-bottom: 2.5rem;
          position: absolute;
          left:0;
          right:0;
          bottom:0;
          z-index: 999;
        }

      }

    }

   .checkbox-checked{
     border-color:#FB8300 !important;
     background-color:#FB8300 !important;
   }
   .d5{
     background-color:transparent !important;
     margin-bottom:1.2rem;
   }
  .agreement{
    line-height:2.7rem;
    padding:0 4% 1.3rem;
    @include fz(12);
    color:$color9;
    letter-spacing: -0.29px;
    .icon-radio{
      width:1.3rem;
      height:1.3rem;
      margin-top:-0.2rem;
    }
    a{
      color:#FF7800;
      margin-left: 0.5rem;
      .icon-arr-r-yellow{
        @include icon-style(0.6rem, 1rem, 'i_arr_right_orange.png');
        margin:-0.1rem 0 0 0.6rem;
      }
    }
  }
}
